:root {
  --input-focus: #00bbe3;
  --font-color: rgb(75,63,63);
  --font-color-sub: rgb(245, 245, 245);
  --bg-color: rgb(245, 245, 220);
  --main-color: hwb(0 0% 100%);
  --cardCVV: rgba(231, 221, 221, 0.8);
  --card-number: rgb(255, 255, 255);
  --card-shadow: rgba(0, 0, 0, 0.15);
}

* {
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
  background: linear-gradient(120deg,var(--bg-color), var(--input-focus));
  background-image: url(images/low-poly-grid-haikei.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 28rem;
  padding: 0.5rem;
  background: var(--input-focus);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

form {
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .input-container {
  margin: 0.5rem 0;
  width: 28rem;
}

form label {
  display: flex;
  flex-direction: column;
  color: var(--font-color-sub);
  font-weight: 600;
}

form input {
  margin: 0.5rem 0;
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--font-color);
  outline: none;
}

form input::placeholder {
  color: var(--font-color);
  opacity: 0.8;
}

form input:focus {
  border: 2px solid var(--input-focus);
}

form input[type='submit'] {
  /* width: 400px; */
  width: 120px;
  /* margin: 30px auto 10px auto;
  width: 120px;
  height: 40px; */
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

form input[type='submit']:active {
  background-color: var(--input-focus) ;
  color: var(--bg-color);
}

form input[type='month'] {
  width: 15rem;
}

form input#cvv {
  width: 6.2rem;
}

form .supporting-inputs-container {
  display: flex;
  justify-content: space-between;
  width: 28rem;
  margin: 0.5rem 0;
}

form .info-message {
  width: 100%;
  border-top: 2px solid var(--font-color);
  color: var(--font-color-sub);
  /* font-weight: 600; */
  font-size: 0.8rem;
  padding-top: 0.7rem;
  text-align: left;
}

.credit-card {
  width: 26.8rem;
  height: 16.8rem;
  border-radius: 2rem;
  position: relative;
  bottom: 2rem;
  /* box-shadow: 6px 6px var(--card-shadow); */
}

.credit-card .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-card .card-deatils-container {
  padding: 1.5rem;
  width: 22.5rem;
}

.credit-card .detail-container {
  height: 3.4rem;
}

.credit-card .number-display {
  background-color: var(--cardCVV);
  width: 22.5rem;
  height: 3.8rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.credit-card h2,
p {
  color: var(--bg-color);
  margin: 0.4rem;
}

.card {
  position: relative;
}

.card #cvv-display {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  /* background: linear-gradient(120deg, #fff, #C0C0C0); */
}

.card #cvv-display p {
  padding: 32px;
  font-size: 30px;
  font-style: italic;
  margin-right: 20px;
}

.visa-front-side {
  background-image: url('./images/visa-front-side.png');
  background-size: 100%;
}

.visa-back-side {
  background-image: url('./images/visa-back-side.png');
  background-size: 100%;
}

.amex-front-side {
  background-image: url('./images/amex-front-side.png');
  background-size: 100%;
}

.amex-back-side {
  background-image: url('./images/amex-back-side.png');
  background-size: 100%;
}

.mastercard-front-side {
  background-image: url('./images/mastercard-front-side.png');
  background-size: 100%;
}

.mastercard-back-side {
  background-image: url('./images/mastercard-back-side.png');
  background-size: 100%;
}